{% extends 'base.html' %}
{% block title %}{{ reservation.id }}{% endblock %}

{% block content %}

<h1 class="display-5">Reservation #{{reservation.id}}</h1>
<p class="h5">Customer ID: {{reservation.customerId}}</p>
<p class="h5">Date and Time: {{reservation.startAt}}</p>
<p class="h5">Number of guests: {{reservation.numGuests}}</p>
<p class="h5">Notes: {{reservation.notes}}</p>

<p><a class="btn btn-primary" href="/reservation/{{ reservation.id }}/edit/">Edit</a></p>









{% endblock %}